# Created by https://www.toptal.com/developers/gitignore/api/c++,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,cmake

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/c++,cmake

.idea/
cmake-build-*/
.PVS-Studio/
/.vs
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-4d79f78f4fbd3d9655ab.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-Cafe-Debug-04d6a199d33acc5ad5ce.json
/out/build/x64-Debug/.cmake/api/v1/reply/index-2023-05-05T15-39-25-0017.json
